body {
  font-family: DM Sans;
}
.display-1 {
  font-family: 'DM Sans', sans-serif;
  font-size: 7.88rem;
  line-height: 0.9;
  letter-spacing: -0.015em;
}
.display-1 > .mbr-iconfont {
  font-size: 9.85rem;
}
.display-2 {
  font-family: 'DM Sans', sans-serif;
  font-size: 3.25rem;
  line-height: 1;
}
.display-2 > .mbr-iconfont {
  font-size: 4.0625rem;
}
.display-4 {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.375rem;
  line-height: 1.4;
}
.display-4 > .mbr-iconfont {
  font-size: 1.71875rem;
}
.display-5 {
  font-family: 'DM Sans', sans-serif;
  font-size: 2rem;
  line-height: 1.3;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.125rem;
  line-height: 1.4;
}
.display-7 > .mbr-iconfont {
  font-size: 1.40625rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 6.304rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 5.516rem;
    font-size: calc( 3.4079999999999995rem + (7.88 - 3.4079999999999995) * ((80vw - 20rem) / (48 - 20)));
    line-height: 1;
  }
  .display-2 {
    font-size: 2.6rem;
    font-size: calc( 1.7874999999999999rem + (3.25 - 1.7874999999999999) * ((98vw - 20rem) / (48 - 20)));
    line-height: 1;
  }
  .display-4 {
    font-size: 1.1rem;
    font-size: calc( 1.13125rem + (1.375 - 1.13125) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.13125rem + (1.375 - 1.13125) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.9rem;
    font-size: calc( 1.04375rem + (1.125 - 1.04375) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.04375rem + (1.125 - 1.04375) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #1fa7db !important;
}
.bg-success {
  background-color: #e34aff !important;
}
.bg-info {
  background-color: #c3feff !important;
}
.bg-warning {
  background-color: #ff4b20 !important;
}
.bg-danger {
  background-color: #f8a077 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #1fa7db !important;
  border-color: #1fa7db !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #146d8f !important;
  border-color: #146d8f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #146d8f !important;
  border-color: #146d8f !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #00315c !important;
  border-color: #00315c !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #000305 !important;
  border-color: #000305 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #000305 !important;
  border-color: #000305 !important;
}
.btn-info,
.btn-info:active {
  background-color: #c3feff !important;
  border-color: #c3feff !important;
  color: #00c0c3 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #006a6c !important;
  background-color: #6cfdff !important;
  border-color: #6cfdff !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #00c0c3 !important;
  background-color: #6cfdff !important;
  border-color: #6cfdff !important;
}
.btn-success,
.btn-success:active {
  background-color: #e34aff !important;
  border-color: #e34aff !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #cd00f2 !important;
  border-color: #cd00f2 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #cd00f2 !important;
  border-color: #cd00f2 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ff4b20 !important;
  border-color: #ff4b20 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #c82700 !important;
  border-color: #c82700 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #c82700 !important;
  border-color: #c82700 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #f8a077 !important;
  border-color: #f8a077 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #f46625 !important;
  border-color: #f46625 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #f46625 !important;
  border-color: #f46625 !important;
}
.btn-white,
.btn-white:active {
  background-color: #e2e2e2 !important;
  border-color: #e2e2e2 !important;
  color: #626262 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #ffffff !important;
  background-color: #b7b7b7 !important;
  border-color: #b7b7b7 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #626262 !important;
  background-color: #b7b7b7 !important;
  border-color: #b7b7b7 !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #1fa7db;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #146d8f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #1fa7db !important;
  border-color: #1fa7db !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #00315c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #000305 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #00315c !important;
  border-color: #00315c !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #c3feff;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #6cfdff !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #00c0c3 !important;
  background-color: #c3feff !important;
  border-color: #c3feff !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #e34aff;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #cd00f2 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #e34aff !important;
  border-color: #e34aff !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff4b20;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #c82700 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #ff4b20 !important;
  border-color: #ff4b20 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #f8a077;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #f46625 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f8a077 !important;
  border-color: #f8a077 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #e2e2e2;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #b7b7b7 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #626262 !important;
  background-color: #e2e2e2 !important;
  border-color: #e2e2e2 !important;
}
.text-primary {
  color: #1fa7db !important;
}
.text-secondary {
  color: #00315c !important;
}
.text-success {
  color: #e34aff !important;
}
.text-info {
  color: #c3feff !important;
}
.text-warning {
  color: #ff4b20 !important;
}
.text-danger {
  color: #f8a077 !important;
}
.text-white {
  color: #e2e2e2 !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #126382 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #000000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #c000e3 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #5dfcff !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #b92400 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #f35c16 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #afafaf !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #1fa7db;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #c3feff;
}
.alert-warning {
  background-color: #ff4b20;
}
.alert-danger {
  background-color: #f8a077;
}
.mbr-gallery-filter li.active .btn {
  background-color: #1fa7db;
  border-color: #1fa7db;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #1fa7db;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ceecf8;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #fff0ec;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.375rem;
  line-height: 1.4;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.71875rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #1fa7db !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.375rem;
  line-height: 1.4;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.71875rem;
}
blockquote {
  border-color: #1fa7db;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #1fa7db;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #1fa7db;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #1fa7db;
  border-bottom-color: #1fa7db;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #1fa7db !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #00315c !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%231fa7db' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition-duration: .3s;
  transition: 0.3s;
}
a:hover {
  background-image: none !important;
}
a:hover:before {
  width: 100%;
}
.mbr-fonts-style a {
  position: relative;
}
.mbr-fonts-style a:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 0;
  background-color: currentColor;
  transition: 0.3s;
}
.mbr-fonts-style a:hover:before {
  width: 100%;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
@media (max-width: 1320px) {
  .container {
    max-width: 100%;
    padding: 0 4%;
  }
}
.container-fluid {
  max-width: 100%;
  width: 100%;
  padding: 0 4%;
}
.row {
  margin-left: -10px;
  margin-right: -10px;
  justify-content: center;
}
.row > [class*="col"] {
  padding-left: 10px;
  padding-right: 10px;
}
.mbr-section-btn .btn {
  min-width: 100px;
  min-height: 54px;
  padding: 15px 25px;
  border-radius: 7px !important;
  border: none;
  box-shadow: none;
  font-weight: 500;
  transition: .2s all !important;
}
@media (max-width: 575px) {
  .mbr-section-btn {
    width: 100%;
  }
  .mbr-section-btn .btn {
    width: 100%;
    min-width: auto !important;
  }
}
.mbr-section-btn .btn-white:hover {
  background-color: #1fa7db !important;
  color: #FFFFFF !important;
}
@keyframes btn-move {
  0% {
    transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    will-change: transform;
  }
  49% {
    transform: translate3d(0px, -100%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
  50% {
    transform: translate3d(0px, -100%, 0px) scale3d(1, 0, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
  51% {
    transform: translate3d(0px, 100%, 0px) scale3d(1, 0, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
  52% {
    transform: translate3d(0px, 100%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
  100% {
    transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    will-change: auto;
  }
}
@keyframes btn-move-out {
  0% {
    transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    will-change: transform;
  }
  49% {
    transform: translate3d(0px, 100%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
  50% {
    transform: translate3d(0px, 100%, 0px) scale3d(1, 0, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
  51% {
    transform: translate3d(0px, -100%, 0px) scale3d(1, 0, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
  52% {
    transform: translate3d(0px, -100%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
  100% {
    transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    will-change: auto;
  }
}
.cid-toplBn1Xry .mbr-fallback-image.disabled {
  display: none;
}
.cid-toplBn1Xry .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-image: url("../../../assets/images/background2.jpg");
}
.cid-toplBn1Xry .content-container {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 75px;
  grid-row-gap: 75px;
  -ms-grid-columns: 1fr 0.5fr;
  grid-template-columns: 1fr 0.4fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}
@media (max-width: 1259px) {
  .cid-toplBn1Xry .content-container {
    grid-template-columns: 1fr 0.25fr;
  }
}
@media (max-width: 991px) {
  .cid-toplBn1Xry .content-container {
    grid-template-columns: 1fr;
    grid-row-gap: 50px;
  }
}
@media (max-width: 767px) {
  .cid-toplBn1Xry .content-container {
    grid-row-gap: 16px;
  }
}
.cid-toplBn1Xry .mbr-section-title {
  color: #000000;
}
.cid-toplBn1Xry .mbr-section-subtitle {
  color: #232323;
  margin-top: 50px;
  padding: 16px 0;
  font-weight: 400;
}
.cid-toplBn1Xry .mbr-section-subtitle b {
  font-weight: 700;
}
@media (max-width: 767px) {
  .cid-toplBn1Xry .mbr-section-subtitle {
    padding: 12px 0;
  }
}
.cid-toplBn1Xry .item-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding-top: 60px;
}
@media (max-width: 991px) {
  .cid-toplBn1Xry .item-right {
    padding-top: 0;
  }
}
.cid-toplBn1Xry .mbr-text {
  margin-bottom: 10px;
  color: #747474;
}
.cid-toplBn1Xry .mbr-section-btn {
  margin-top: 30px;
}
.cid-toplBn1Xry .mbr-section-btn .btn {
  min-width: 50px;
}
.cid-toplBn1Xry .mbr-section-title1 {
  color: #ffffff;
  text-align: left;
}
.cid-toplBn1Xry .mbr-section-title2 {
  color: #b5b5b5;
  text-align: left;
}
.cid-toplBn1Xry .mbr-text,
.cid-toplBn1Xry .mbr-section-btn {
  color: #000000;
}
.cid-tyPQDSVXU6 {
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: #ffffff;
}
.cid-tyPQDSVXU6 .mbr-section-head {
  width: 100%;
  margin-bottom: 50px;
}
.cid-tyPQDSVXU6 .mbr-section-title {
  color: #000000;
  text-align: center;
}
.cid-tyPQDSVXU6 .mbr-section-subtitle {
  color: #000000;
  margin-top: 16px;
}
@media (min-width: 992px) {
  .cid-tyPQDSVXU6 .items-container {
    max-width: 1720px;
    padding: 0;
  }
}
@media (min-width: 992px) {
  .cid-tyPQDSVXU6 .items-row {
    margin: 0 -10px !important;
    row-gap: 20px;
  }
}
@media (max-width: 991px) {
  .cid-tyPQDSVXU6 .items-row {
    margin: 0 !important;
  }
}
.cid-tyPQDSVXU6 .item {
  padding: 0 10px;
}
@media (max-width: 991px) {
  .cid-tyPQDSVXU6 .item {
    padding: 0 !important;
  }
}
.cid-tyPQDSVXU6 .item-wrapper {
  position: relative;
  max-height: 580px;
  height: 100%;
  overflow: hidden;
}
@media (max-width: 991px) {
  .cid-tyPQDSVXU6 .item-wrapper {
    max-height: 480px;
  }
}
@media (max-width: 575px) {
  .cid-tyPQDSVXU6 .item-wrapper {
    max-height: 455px;
  }
}
.cid-tyPQDSVXU6 .item-wrapper:hover .item-img {
  transform: scale(1.3);
}
.cid-tyPQDSVXU6 .item-img {
  display: flex;
  width: 100%;
  height: 100%;
  max-height: 580px;
  filter: contrast(45%) brightness(145%);
  transition: transform cubic-bezier(0.2, 1.03, 0.42, 0.79) 1s;
}
@media (max-width: 991px) {
  .cid-tyPQDSVXU6 .item-img {
    max-height: 480px;
  }
}
@media (max-width: 575px) {
  .cid-tyPQDSVXU6 .item-img {
    max-height: 455px;
  }
}
.cid-tyPQDSVXU6 .item-img img {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}
.cid-tyPQDSVXU6 .item-content {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: flex-end;
  column-gap: 10px;
  width: 100%;
  height: 45%;
  max-height: 50%;
  padding: 0 25px 20px;
  overflow: hidden;
}
.cid-tyPQDSVXU6 .item-text-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-height: 100%;
}
@media (max-width: 991px) {
  .cid-tyPQDSVXU6 .item-text-box {
    flex-direction: column;
    row-gap: 14px;
  }
}
.cid-tyPQDSVXU6 .item-title {
  color: #000;
  flex-grow: 1;
  text-align: center;
}
@media (max-width: 991px) {
  .cid-tyPQDSVXU6 .item-title {
    text-align: center;
  }
}
.cid-tyPQDSVXU6 .card-text-wrap {
  padding: 6px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 20px;
}
.cid-tyPQDSVXU6 .mbr-text {
  color: #FFFFFF;
  text-align: center;
}
.cid-tyPPoprLgC {
  padding-top: 180px;
  padding-bottom: 75px;
  background-image: url("../../../assets/images/mbr-1920x1280.jpg");
}
.cid-tyPPoprLgC .nav-tabs .nav-item.open .nav-link:focus,
.cid-tyPPoprLgC .nav-tabs .nav-link.active:focus {
  outline: none;
}
.cid-tyPPoprLgC .icon-wrap .mbr-iconfont {
  font-size: 1rem;
  padding-right: 0.5rem;
  display: block;
  cursor: pointer;
  transition: all 0.6s;
  color: currentColor;
}
.cid-tyPPoprLgC .icon-big {
  font-size: 2rem;
  padding-top: 2rem;
  display: inline-block;
  transition: all 0.3s;
}
.cid-tyPPoprLgC .icon-big:hover {
  color: #1fa7db !important;
}
.cid-tyPPoprLgC .content-col {
  margin: auto 0;
}
.cid-tyPPoprLgC img {
  width: 90%;
  margin: auto;
}
.cid-tyPPoprLgC h6 {
  margin: 0;
}
.cid-tyPPoprLgC h4 {
  width: fit-content;
  display: inline-block;
  position: relative;
}
.cid-tyPPoprLgC h4:before {
  position: absolute;
  content: '';
  left: 50%;
  top: -120px;
  bottom: 0;
  width: 1px;
  height: 100px;
  background: currentColor;
}
.cid-tyPPoprLgC .nav-tabs {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  border: none;
  justify-content: space-around;
}
.cid-tyPPoprLgC .icon-wrap,
.cid-tyPPoprLgC .date-wrap {
  display: flex;
  align-items: center;
}
.cid-tyPPoprLgC .tabs-col {
  overflow: hidden;
}
.cid-tyPPoprLgC .tab-content {
  border-top: 1px solid lightgray;
  padding: 0rem;
  padding-top: 5rem;
}
.cid-tyPPoprLgC .nav-tabs .nav-link {
  color: #1fa7db;
  font-style: normal;
  padding: 1rem 1.5rem;
  background: transparent;
  font-weight: 900;
  border: none;
  border-radius: 0;
  position: relative;
}
.cid-tyPPoprLgC .nav-tabs .nav-link:before {
  position: absolute;
  content: '';
  bottom: -5px;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  width: 12px;
  height: 12px;
  border-radius: 100%;
  border: 1px solid #1fa7db;
  background: white;
  transition: all 0.3s;
  z-index: 9;
}
.cid-tyPPoprLgC .nav-tabs .nav-link:after {
  position: absolute;
  content: '';
  bottom: 0px;
  right: 50%;
  width: 9999px;
  height: 1px;
  transition: all 0.3s;
  background: transparent;
}
.cid-tyPPoprLgC .nav-tabs .nav-link:hover {
  cursor: pointer;
}
.cid-tyPPoprLgC .nav-tabs .nav-link.active {
  font-weight: 400;
  font-style: normal;
}
.cid-tyPPoprLgC .nav-tabs .nav-link.active:before {
  background: #1fa7db;
}
.cid-tyPPoprLgC .nav-tabs .nav-link.active:after {
  background: #1fa7db;
}
@media (max-width: 992px) {
  .cid-tyPPoprLgC img {
    margin-bottom: 2rem;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .cid-tyPPoprLgC .nav-tabs {
    flex-direction: row;
  }
  .cid-tyPPoprLgC .mbr-text,
  .cid-tyPPoprLgC .nav-link {
    text-align: center;
  }
  .cid-tyPPoprLgC .nav-tabs .nav-link {
    margin-bottom: 1rem;
    border: 0;
  }
  .cid-tyPPoprLgC .nav-tabs .nav-link:after {
    content: none;
  }
  .cid-tyPPoprLgC .nav-item {
    min-width: 100px;
  }
  .cid-tyPPoprLgC .tab-content {
    border-top: 0px;
    padding-top: 2rem;
  }
}
.cid-tyPPoprLgC H1 {
  color: #000000;
}
.cid-tyPPoprLgC .mbr-section-subtitle,
.cid-tyPPoprLgC .title-align {
  color: #000000;
}
.cid-tyPPoprLgC H3 {
  color: #000000;
}
.cid-tyPPoprLgC H2 {
  color: #000000;
}
.cid-tyPPoprLgC .location,
.cid-tyPPoprLgC .icon-wrap {
  color: #000000;
}
.cid-topqiw5QAh {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #a7e6ff;
}
.cid-topqiw5QAh .mbr-fallback-image.disabled {
  display: none;
}
.cid-topqiw5QAh .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-topqiw5QAh .main-container {
  width: 100%;
  margin-bottom: 80px;
}
@media (max-width: 767px) {
  .cid-topqiw5QAh .main-container {
    margin-bottom: 70px;
  }
}
.cid-topqiw5QAh .mbr-title {
  color: #000000;
}
.cid-topqiw5QAh .mbr-text {
  color: #000000;
  margin-top: 30px;
}
.cid-topqiw5QAh .card-row {
  display: flex;
  align-items: stretch;
  row-gap: 20px;
}
@media (min-width: 1200px) {
  .cid-topqiw5QAh .card-row {
    margin: 0 -20px;
    row-gap: 40px;
  }
}
@media (min-width: 1200px) {
  .cid-topqiw5QAh .row > [class*="col"] {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.cid-topqiw5QAh .card {
  border-radius: 0;
}
.cid-topqiw5QAh .card-wrap {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  height: 100%;
  min-height: 320px;
  padding: 40px 37px 30px;
  background-color: #ffffff;
}
@media (max-width: 767px) {
  .cid-topqiw5QAh .card-wrap {
    min-height: auto;
  }
}
@media (max-width: 575px) {
  .cid-topqiw5QAh .card-wrap {
    padding: 24px 18px 30px;
  }
}
.cid-topqiw5QAh .testimonial-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.cid-topqiw5QAh .iconfont-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-topqiw5QAh .iconfont-wrapper .mbr-iconfont {
  display: block;
  font-size: 20px;
  color: #06baff;
  margin: 0 2px;
}
.cid-topqiw5QAh .card-text-wrap {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-topqiw5QAh .card-text-wrap {
    margin-bottom: 1.5rem;
  }
}
.cid-topqiw5QAh .card-text {
  color: #747474;
  margin-bottom: 30px;
}
.cid-topqiw5QAh .card-name-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}
.cid-topqiw5QAh .card-name-image-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  aspect-ratio: 1;
  border-radius: 50px;
  overflow: hidden;
  margin-right: 20px;
}
.cid-topqiw5QAh .card-name-image-wrap img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.cid-topqiw5QAh .card-name {
  color: #000000;
}
.cid-topqiw5QAh .card-prof {
  color: #747474;
}
.cid-toppJSH1Dm {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-toppJSH1Dm .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.4;
}
.cid-toppJSH1Dm .mbr-section-head {
  margin-bottom: 60px;
}
.cid-toppJSH1Dm .mbr-section-title {
  color: #000000;
  margin-bottom: 0;
}
.cid-toppJSH1Dm .mbr-section-subtitle {
  color: #747474;
  margin-bottom: 0;
  margin-top: 1rem;
}
.cid-toppJSH1Dm .form-wrap {
  width: 100%;
  margin: 0 auto;
  padding: 0 !important;
}
.cid-toppJSH1Dm form {
  width: 100%;
}
.cid-toppJSH1Dm form .dragArea.row {
  justify-content: flex-start;
  width: auto !important;
}
.cid-toppJSH1Dm form p {
  color: #747474;
}
.cid-toppJSH1Dm form .mbr-section-btn .btn {
  width: 100%;
}
.cid-toppJSH1Dm form .mbr-section-btn .btn:hover {
  transform: translate(0, 0);
}
.cid-toppJSH1Dm form .form-group {
  margin-top: 0 !important;
  margin-bottom: 16px !important;
}
.cid-toppJSH1Dm form .form-control {
  height: 48px;
  border: 1px solid #e1e1e1 !important;
  background: transparent;
  outline: none !important;
  box-shadow: none !important;
  border-radius: 3px !important;
  margin-bottom: 0;
  padding: 8px 12px;
  font-size: 18px;
  color: #000000;
  font-weight: 500;
  transition: .3s;
}
.cid-toppJSH1Dm form .form-control::-webkit-input-placeholder {
  color: #747474;
}
.cid-toppJSH1Dm form .form-control::-moz-placeholder {
  color: #747474;
}
.cid-toppJSH1Dm form .form-control:-moz-placeholder {
  color: #747474;
}
.cid-toppJSH1Dm form .form-control:-ms-input-placeholder {
  color: #747474;
}
.cid-toppJSH1Dm form select {
  color: #747474 !important;
}
.cid-toppJSH1Dm form textarea {
  height: 135px !important;
  min-height: 135px !important;
  padding: 12px;
  resize: none;
}
.cid-toppJSH1Dm form textarea::-webkit-input-placeholder {
  color: #747474 !important;
}
.cid-toppJSH1Dm form textarea::-moz-placeholder {
  color: #747474 !important;
}
.cid-toppJSH1Dm form textarea:-moz-placeholder {
  color: #747474 !important;
}
.cid-toppJSH1Dm form textarea:-ms-input-placeholder {
  color: #747474 !important;
}
.cid-toppJSH1Dm form input,
.cid-toppJSH1Dm form textarea {
  transition: .4s all;
}
.cid-toppJSH1Dm form input:active,
.cid-toppJSH1Dm form textarea:active,
.cid-toppJSH1Dm form input:focus,
.cid-toppJSH1Dm form textarea:focus {
  background-color: transparent !important;
  border-color: #a1c4e4 !important;
  outline: none !important;
}
.cid-toppJSH1Dm form input:active::-webkit-input-placeholder,
.cid-toppJSH1Dm form textarea:active::-webkit-input-placeholder,
.cid-toppJSH1Dm form input:focus::-webkit-input-placeholder,
.cid-toppJSH1Dm form textarea:focus::-webkit-input-placeholder {
  color: #747474 !important;
}
.cid-toppJSH1Dm form input:active::-moz-placeholder,
.cid-toppJSH1Dm form textarea:active::-moz-placeholder,
.cid-toppJSH1Dm form input:focus::-moz-placeholder,
.cid-toppJSH1Dm form textarea:focus::-moz-placeholder {
  color: #747474 !important;
}
.cid-toppJSH1Dm form input:active:-moz-placeholder,
.cid-toppJSH1Dm form textarea:active:-moz-placeholder,
.cid-toppJSH1Dm form input:focus:-moz-placeholder,
.cid-toppJSH1Dm form textarea:focus:-moz-placeholder {
  color: #747474 !important;
}
.cid-toppJSH1Dm form input:active:-ms-input-placeholder,
.cid-toppJSH1Dm form textarea:active:-ms-input-placeholder,
.cid-toppJSH1Dm form input:focus:-ms-input-placeholder,
.cid-toppJSH1Dm form textarea:focus:-ms-input-placeholder {
  color: #747474 !important;
}
.cid-toppJSH1Dm form .row {
  margin-left: -5px !important;
  margin-right: -5px !important;
}
.cid-toppJSH1Dm form .row [class*=col] {
  padding-left: 5px !important;
  padding-right: 5px !important;
}
.cid-toppJSH1Dm form label {
  width: 100%;
  color: #000000;
  margin-bottom: 5px;
}
.cid-toppJSH1Dm form .form-check label {
  color: #000000;
}
.cid-toppJSH1Dm form .form-check-input {
  border-color: #e1e1e1 !important;
  outline: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
}
.cid-toppJSH1Dm form .form-check-input:focus,
.cid-toppJSH1Dm form .form-check-input:hover {
  background-color: transparent !important;
  border-color: #a1c4e4 !important;
}
.cid-toppJSH1Dm form .form-check-input:checked {
  border-color: #000000 !important;
  background-color: #000000 !important;
}
.cid-tyPQupXOjU {
  padding-top: 5rem;
  padding-bottom: 6rem;
  background-color: #06baff;
}
.cid-tyPQupXOjU .mbr-fallback-image.disabled {
  display: none;
}
.cid-tyPQupXOjU .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tyPQupXOjU .border-item {
  width: 100%;
  height: 1px;
  background-color: #d3d3d3;
  margin-bottom: 50px;
}
.cid-tyPQupXOjU .main-container {
  width: 100%;
}
.cid-tyPQupXOjU .column-left {
  grid-column-start: 1;
  grid-column-end: 2;
}
.cid-tyPQupXOjU .column-right {
  grid-column-start: 2;
  grid-column-end: 3;
}
@media (max-width: 767px) {
  .cid-tyPQupXOjU .column-right {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}
.cid-tyPQupXOjU .navbar-brand {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  word-break: break-word !important;
  word-wrap: break-word !important;
  min-height: 50px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  margin-bottom: 0;
  padding: 0;
  transition: all 0.4s;
  z-index: 1;
  white-space: normal;
}
.cid-tyPQupXOjU .navbar-brand .navbar-logo {
  margin-right: 0.5rem;
}
.cid-tyPQupXOjU .navbar-brand .navbar-logo img {
  width: auto;
}
.cid-tyPQupXOjU .navbar-brand .navbar-caption {
  line-height: inherit !important;
  word-break: break-word !important;
  word-wrap: break-word !important;
  font-weight: 700 !important;
}
.cid-tyPQupXOjU .navbar-brand .navbar-caption:hover {
  text-decoration-line: none !important;
}
.cid-tyPQupXOjU .navbar-brand .navbar-logo a {
  outline: none;
  word-break: break-word !important;
  word-wrap: break-word !important;
}
.cid-tyPQupXOjU .navbar-brand .navbar-logo a:hover {
  text-decoration-line: none !important;
}
.cid-tyPQupXOjU .mbr-text {
  color: #ffffff;
  margin-top: 30px;
}
.cid-tyPQupXOjU .list-box {
  width: 100%;
  margin-top: 30px;
}
.cid-tyPQupXOjU .list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  row-gap: 12px;
  width: 100%;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  color: #ffffff;
  transition: 0.4s all;
}
.cid-tyPQupXOjU .list li {
  color: inherit !important;
  margin: 0 12px 0 0;
  transition: 0.4s all;
}
.cid-tyPQupXOjU .list a {
  position: relative;
  color: inherit !important;
  line-height: inherit !important;
  transition: 0.4s all;
}
.cid-tyPQupXOjU .list a:hover {
  color: #000000 !important;
  line-height: inherit !important;
}
.cid-tyPQupXOjU .soc-item {
  text-align: center;
  position: relative;
  transition: 0.3s all;
  margin-bottom: 10px;
}
.cid-tyPQupXOjU .soc-item:before {
  content: "";
  position: absolute;
  transition: 0.3s all;
}
.cid-tyPQupXOjU .soc-item .mbr-iconfont {
  position: relative;
  z-index: 5;
  transition: 0.3s all;
  font-size: 16px;
  color: #000000;
  padding: 10px;
}
.cid-tyPQupXOjU .soc-item a:hover .mbr-iconfont {
  color: #FFFFFF !important;
}
.cid-tyPQupXOjU .contact-list {
  text-align: center;
  width: 100%;
  color: #ffffff;
  transition: 0.4s all;
  margin-bottom: 35px;
}
.cid-tyPQupXOjU .contact-list li {
  width: 100%;
  margin: 0;
  color: inherit !important;
  transition: 0.4s all;
  text-align: center;
}
@media (max-width: 767px) {
  .cid-tyPQupXOjU .contact-list li {
    text-align: center;
  }
}
.cid-tyPQupXOjU .contact-list li:hover {
  color: #d3d3d3 !important;
}
.cid-tyPQupXOjU .contact-list a {
  position: relative;
  color: inherit !important;
  line-height: inherit !important;
  transition: 0.4s all;
}
.cid-tyPQupXOjU .contact-list a:hover {
  color: #d3d3d3 !important;
  line-height: inherit !important;
}
.cid-tyPQupXOjU .copyright-container {
  grid-column-start: 1;
  grid-column-end: -1;
}
@media (max-width: 991px) {
  .cid-tyPQupXOjU .copyright-container {
    margin-top: 40px;
  }
}
.cid-tyPQupXOjU .copyright {
  color: #ffffff;
  text-align: center;
}
